@inject IStringLocalizer<MenuPopup> Lang
@inject ITKD_FavoriteMenuService TKD_FavoriteMenuService
@inject IErrorHandlerService errorModalService

<EditForm EditContext="@editFormContext" Context="formContext">
    <FluentValidator TValidator="MenuPopupValidator" />
    <div class="form-group d-flex flex-nowrap">
        <label class="col-form-label-sm mr-3 width--90 pl-2">@Lang["Name"]</label>
        <div class="has-tooltip-error" style="width: 400px">
            <Tooltip ValueExpressions="@(() => createMenu.FavoriteMenu_MenuTitle)"
                     Lang="@LangDic" Text="" Position="PositionTooltip.top"></Tooltip>
            <DxTextBox CssClass="flex-grow-1 focus"
                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                       TextChanged="@((newValue) => UpdateMenuTitle(newValue))"
                       Text="@createMenu.FavoriteMenu_MenuTitle"
                       TextExpression="@(() => createMenu.FavoriteMenu_MenuTitle)">
            </DxTextBox>
        </div>
    </div>
    <div class="form-group d-flex flex-nowrap">
        <label class="col-form-label-sm mr-3 width--90 pl-2">@Lang["Link"]</label>
        <div class="has-tooltip-error" style="width: 400px">
            <Tooltip ValueExpressions="@(() => createMenu.FavoriteMenu_MenuUrl)"
                     Lang="@LangDic" Text="" Position="PositionTooltip.top"></Tooltip>
            <DxTextBox CssClass="flex-grow-1 focus"
                       ClearButtonDisplayMode="DataEditorClearButtonDisplayMode.Auto"
                       TextChanged="@((newValue) => UpdateMenuLink(newValue))"
                       Text="@createMenu.FavoriteMenu_MenuUrl"
                       TextExpression="@(() => createMenu.FavoriteMenu_MenuUrl)">
            </DxTextBox>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public int MenuId { get; set; }

    string content;
    public TKD_FavoriteMenuData createMenu;
    public EditContext editFormContext { get; set; }
    public Dictionary<string, string> LangDic = new Dictionary<string, string>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            LoadData();
        }
        catch (Exception ex)
        {
            errorModalService.ShowErrorPopup("Error", ex.GetOriginalException()?.Message);
        }
    }

    private async Task LoadData()
    {
        try
        {
            if (MenuId != 0)
            {
                createMenu = await TKD_FavoriteMenuService.GetFavoriteMenuById(Convert.ToInt32(MenuId));
                StateHasChanged();
            }
            else
            {
                createMenu = new TKD_FavoriteMenuData()
                {
                    FavoriteMenu_MenuTitle = "",
                    FavoriteMenu_MenuUrl = ""
                };
            }
            editFormContext = new EditContext(createMenu);
            var dataLang = Lang.GetAllStrings();
            LangDic = dataLang.ToDictionary(l => l.Name, l => l.Value);
        }
        catch (Exception ex)
        {
            errorModalService.ShowErrorPopup("Error", ex.GetOriginalException()?.Message);
        }
    }

    public async Task<string> Save()
    {
        try
        {
            if (editFormContext.Validate())
            {
                if (MenuId != 0)
                {
                    return await TKD_FavoriteMenuService.UpdateFavoriteMenu(createMenu);
                }
                else
                {
                    return await TKD_FavoriteMenuService.CreateFavoriteMenu(createMenu);
                }
            }
            else
            {
                return "";
            }
        }
        catch (Exception ex)
        {
            errorModalService.ShowErrorPopup("Error", ex.GetOriginalException()?.Message);
            return "";
        }
    }

    public void UpdateMenuTitle(string title)
    {
        try
        {
            createMenu.FavoriteMenu_MenuTitle = title;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorModalService.ShowErrorPopup("Error", ex.GetOriginalException()?.Message);
        }
    }

    public void UpdateMenuLink(string link)
    {
        try
        {
            createMenu.FavoriteMenu_MenuUrl = link;
            StateHasChanged();
        }
        catch (Exception ex)
        {
            errorModalService.ShowErrorPopup("Error", ex.GetOriginalException()?.Message);
        }
    }


}
