@inject IStringLocalizer<ListColorChart> Lang

<div class="d-flex flex-wrap align-items-center">
    <small class="mr-2 px-2 text-white bg-black">@Lang["no.car"]</small>
    <small class="mr-2 px-2 text-white bg-blue">@Lang["temporary_car"]</small>
    <small class="mr-2 px-2 text-white bg-lightgreen">@Lang["checking"]</small>
    <small class="mr-2 px-2 text-white bg-green">@Lang["btn_confirm"]</small>
    <small class="mr-2 px-2 text-white bg-red">@Lang["bus_allocated"]</small>
    @*<small class="mr-2 px-2 text-white bg-yellow">@Lang["driver_allocated"]</small>*@
    <small class="mr-2 px-2 text-white bg-orange">@Lang["send"]</small>
    <small class="mr-2 px-2 text-white bg-purple">@Lang["daily_report"]</small>
    <small class="px-2 text-white bg-darkblue">@Lang["closed"]</small>
</div>
