@inherits CharterInquiryBase

<DxPopup CssClass="modal-dialog modal-dialog-centered modal-xl"
         @bind-Visible="@isOpenCharterInquiryPopUp"
         Scrollable="true">
    <HeaderTemplate>
        <div class="bg-primary text-white p-2 rounded-top">
            <span>@Lang["PageTitle"]</span>
            <a class="close-button text-black float-right mr-2" href="javascript:;" aria-hidden="true" role="button" aria-label="Close popup" @onclick="@(e => CloseModal())">✖</a>
        </div>
    </HeaderTemplate>
    <Content>
        <div class="row">
            <div class="col-12">
                <div class="express-condition row" style="min-height: 4rem;">
                    <div class="col-11">
                        <div class="card">
                            <div class="card-body">
                                <label>@Lang["PaymentIncidentalType"]</label>
                                <DxTextBox CssClass="width--110 item-inline ml-2"
                                           @bind-Text="paymentIncidentalType"
                                           ReadOnly="true"></DxTextBox>
                            </div>
                        </div>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-lg btn-danger btnclear" @onclick="async e => await OnInitializedAsync()">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <div class="express-condition mb-2">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-bill-wrapper" style="min-height: calc(50vh - 150px);max-height: calc(50vh - 150px);">
                                <table class="table-bill-layout table-layout">
                                    <thead>
                                        <tr class="header-row">
                                            <th>@Lang["HiredBusAddress"]</th>
                                            <th>@Lang["HiredBusAddressName"]</th>
                                            <th>@Lang["BusCount"]</th>
                                            <th>@Lang["Fare"]</th>
                                            <th>@Lang["Tax"]</th>
                                            <th>@Lang["Fee"]</th>
                                            <th>@Lang["HiredBusAmount"]</th>
                                            <th>@Lang["CumulativePayment"]</th>
                                            <th>@Lang["UnpaidAmount"]</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (chaterInquiryGrids.Any())
                                        {
                                            @foreach (var data in chaterInquiryGrids)
                                            {
                                                <tr>
                                                    <td>@($"{data.GyosyaCd}-{data.TokuiCd}-{data.SitenCd}")</td>
                                                    <td>@($"{data.TokuiRyak} {data.SitenRyak}")</td>
                                                    <td class="text-right">@string.Format("{0:#,0}", data.SyaSyuDai)</td>
                                                    <td class="text-right">@string.Format("{0:#,0}", data.HaseiKin)</td>
                                                    <td>
                                                        <div class="text-right">@($"{data.Zeiritsu}%")</div>
                                                        <div class="text-right">@string.Format("{0:#,0}", data.HaseiKin)</div>
                                                    </td>
                                                    <td>
                                                        <div class="text-right">@($"{data.TesuRitu}%")</div>
                                                        <div class="text-right">@string.Format("{0:#,0}", data.SyaRyoTes)</div>
                                                    </td>
                                                    <td class="text-right">@string.Format("{0:#,0}", data.YoushaGak)</td>
                                                    <td class="text-right">@string.Format("{0:#,0}", data.SihRaiRui)</td>
                                                    <td class="text-right">@string.Format("{0:#,0}", data.YoushaGak - data.SihRaiRui)</td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr><td colspan="9"><p class="text-danger">@Lang["BI_T001"]</p></td></tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Content>
</DxPopup>